body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}
.head{
    display: flex;
}
header {
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
nav {
    background: rgb(34, 124, 157);
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 50px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 7px;
}
.resume{
    text-decoration: none;
    color: white;
}
.social-links a {
    margin-right: 10px;
    color: #0077b5;
    text-decoration: none;
    font-weight: bold;
}
#about > h2{
    text-align: center;
}
#projects > h2{
    text-align: center;
}
#certificates > h2{
    text-align: center;
}
#contact > h2{
    text-align: center;
}
#body{
    background-color: #ffffff;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff4f4;
    border-radius: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section:hover{
    
    cursor: pointer;
    transition: 1s;
}
.c_main{
    width: 100%;
    display: inline-flex;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(218, 216, 216);
}
.first{
    width: 50%;
}
.second{
    width: 50%;
    text-align: right;
}
.second > p{
    text-align: center;
}
.first > p{
    text-align: center;
}
.right_align_img{
    float: right;
}
.p_main{
    width: 100%;
    display: flex;
}
.p_first{
    width: 50%;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.p_img{
    width: 80%;
    border-radius: 10px;
}
.link_text{
    text-decoration: none;
    color: black;
}
#upper_block{
    text-align: center;
}
.blocks{
    width: 80%;
    height: 40px;
    border: 2px solid black;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 2px;
    text-align: left;
    padding: 3px;
    padding-left: 7px;
    border-radius: 20px;
}
.blocks:hover{
    width: 80%;
    height: 40px;
    border: 2px solid white;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 2px;
    text-align: left;
    padding: 3px;
    padding-left: 7px;
    border-radius: 20px;
    transition: 0.5s;
    background-color: white;
    box-shadow: 0 0 10px #929292a8;
    cursor: pointer;
}
.contact_img{
    height: 30px;
}
.contact_img_yt{
    height: 22px;
}
.contact_img_g-mail{
    height: 25px;
}
#mode{
    border-radius: 50px;
    border: none;
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#yt {
    text-align: center;
}
.vid_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 20px;
    border: none;
    display: block;
}
@media (max-width: 600px) {
    .video-wrapper {
        max-width: 100vw;
        border-radius: 0;
    }
    .video {
        border-radius: 0;
    }
}
.sub_text{
    font-size: 2vmin;
}
.sub_text.intro{
    padding-left: 2vmin;
    padding-right: 2vmin;
}
#skills{
    text-align: center;
}
.skl{
    text-align: left;
}
#node_certificate{
    border-radius: 8px;
}
#linkedIn_logo{
    border-radius: 50px;
}